/**
 * FogOverlay 组件样式
 */

.fog {
  position: absolute;
  /* 兼容旧浏览器 */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: 5;
}

.fogLayer {
  transition: all 0.5s ease;
}

.particles {
  opacity: 0.6;
}

